<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sietecerouno.izzi_user">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider148512812260643"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modals.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modals.ChooseAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sections.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sections.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sections.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sections.PreHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sections.RealLoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modals.DetailReqActivity" />
        <activity android:name=".modals.ProfileSelectedActivity" />
        <activity android:name=".modals.CurrentActivity" />
        <activity android:name=".sections.LoadingActivity" />
        <activity android:name=".utils.LookingForaHelpActivity" />
        <activity android:name=".modals.AddCreditCardActivity"></activity>
    </application>

</manifest>